<!DOCTYPE html>

<html lang="en">
    <head>
        <meta content="charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Huntloc Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="stiil.css" rel="stylesheet">
        <link rel="shortcut icon" href="https://portal.huntloc.com/images/favicon.png">  
        <link rel="alternate" type="application/rss+xml" title="Huntloc » Feed" href="http://www.huntloc.com/en/feed/">
        <link rel="alternate" type="application/rss+xml" title="Huntloc » Comments Feed" href="http://www.huntloc.com/en/comments/feed/">
        <link rel="alternate" type="application/rss+xml" title="Huntloc » Home Comments Feed" href="http://www.huntloc.com/en/avaleht/feed/">
        
        
    </head>
    
    
    <body>
        <div class="container-fluid h-100" style="#e5e5e5">
            <div class="row">
                <div class="col">
                    
                    
                    <div><a href="https://huntloc.com/et">
                    <img src="https://portal.huntloc.com/images/favicon.png" style="height:32px; width:auto"></a></div>
                    
                    
                    <div>
                        <div class="mc-mini-content centered align-middle">
                            <div class="border">
                            <div class="margin-bottom5">
                                <p class="h2 text-center">Huntloc portaali sisenemine</p>
                                <p class="text-center">
                                <!-- ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="et.png" src="et.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope ng-hide flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="en.png" src="en.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="it.png" src="it.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="lt.png" src="lt.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="lv.png" src="lv.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="ru.png" src="ru.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="fi.png" src="fi.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="de.png" src="de.png"></a>
                                <!-- end ngRepeat: lang in langs --><a href="javascript:void(0)" data-ng-click="setLang(lang)" class="language-bar__language ng-scope flag" data-ng-repeat="lang in langs" data-ng-show="currentLang !== lang"><img data-ng-src="es.png" src="es.png"></a>
                                <!-- end ngRepeat: lang in langs --></p>
                            </div>
                            
                                
                            <div>
                                <div class="line !margin-bottom5">
                                <button ng-click="startAuth()" class="login margin-bottom5 ng-binding ng-scope">Log in</button>
                                <div class="modal-body ng-scope">
                                <div class="login-pin ng-binding ng-hide" ng-show="pin">
                                Enter Pin in Huntloc mobile App (Menu -> Settings -> Portal login)<br>
                                <big><b class="ng-binding"></b></big>
                                </div>
                                <div class="login-error ng-binding ng-hide" ng-show="error">
                                <br> Error: 
                                </div>
                                </div>
                                <div class="row"><div class="col-5">
                                    <p class="text-center">Litsents aegunud?</p></div>
                                <div class="col">
                                    <a href="https://huntloc.com/et/litsentsi-tellimine/"><button class="litsents">Vajuta siia</button></a></div></div></div>
                            </div>
                                
                                
                                </div></div></div>
                    <div class="app">
                        <a href="https://apps.apple.com/us/app/huntloc/id957532386" target="_blank">
                            <img class="app-img-et" src="https://huntloc.com/wp-content/uploads/2020/09/appstore.png" alt="Hankige see Appstore"></a>
                        <a href="https://play.google.com/store/apps/details?id=ee.topgravity.android.huntloc" target="_blank">
                            <img class="app-img-et" src="https://huntloc.com/wp-content/uploads/2020/09/google-play.png" alt="Hankige see Google Play"></a>
                    </div>
                    </div>
                
                
                <div class="col-8" style="height: 100%;">
                    <img src="ad.png" style="width: 100%"></div></div></div></body>
    
    
    <script type="text/javascript" charset="UTF-8" src="./Huntloc Portal_files/common.js.Allalaaditud fail"></script>
    <script type="text/javascript" charset="UTF-8" src="./Huntloc Portal_files/util.js.Allalaaditud fail"></script>
    <script async="" src="./Huntloc Portal_files/analytics.js.Allalaaditud fail"></script><script type="text/javascript" src="./Huntloc Portal_files/js" async="" defer=""></script>
  <script type="text/ng-template" id="simple-grid.html" src="./Huntloc Portal_files/simple-grid.html"></script>
  <script type="text/javascript" src="./Huntloc Portal_files/app.js.Allalaaditud fail"></script>
    <script type="text/javascript" src="script.js"></script>
                
                


</html>
